<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="gallery" id="nosotros">
        <div class="m-0 vh-100 row justify-content-center align-items-center">
          
          <div class="text-center">
            <p class="text-justify m-4" >
              <h2>Sitios turisticos</h2>
              <p>Arequipa es la capital de la época colonial de la región de Arequipa en Perú. La rodean 3 volcanes y cuenta con edificios barrocos construidos de sillar, una piedra volcánica blanca. En su centro histórico, se encuentra la Plaza de Armas, una imponente plaza principal, y al norte de ella está la Basílica Catedral neoclásica del siglo XVII, que alberga un museo donde se exhiben obras de arte y objetos religiosos.</p>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalLong">
                Leer más...
              </button>
            </p>
            <a href="#" data-toggle="tooltip" title="Innaguración de la nueva loza deportiva">
              <img src="../media/pics/00000008.jpg" class="img-fluid img-content d-none d-md-block rounded float-star" alt="">
            </a>
          </div>
        </div>
      </div>
    
</body>
</html>